body {
  background-color: #ffffff;
}

.container {
  padding-top: 10%;
  align-items: center;
  justify-content: center;
}

.card {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
}

.card-title {
  color: #333;
}

.btn-primary {
  background-color: #222831;
  border: none;
}

.btn-primary:hover {
  background-color: #00ADB5;
}

.btn-block {
  width: 100%;
}

@media (max-width: 576px) {
  .col-md-6 {
    max-width: 100%;
  }
}

