.container {
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #FFFFFF;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 2%;
  margin-top: 25%;
}

.card-title {
  text-align: center;
  text-decoration: underline;
  color: #333;
  font-size: 1.5rem;
  font-weight: 1000;
}

.btn-primary {
  width: 30%;
  background-color: #222831;
  border: none;
}

.btn-primary:hover {
  background-color: #00ADB5;
}


@media (max-width: 576px) {
  .col-md-6 {
    max-width: 100%;
  }
}

