.suject-title
{
    position: relative;
    font-weight: 700;
}

.unit {
    margin-top: 1%;
    margin-left: 22.5%; /* Adjust the margin as desired */
    font-size: 40px;
    color: black;
}
  
.subchapter {
    margin-top: -2%;
    margin-bottom: -1%;
    margin-left: 22.5%; /* Adjust the margin as desired */
    font-size: 30px;
    color: black;
}
  