.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.video-container {
  height: 60vh; /* Adjust the height as desired */
  width: 55vw; /* Adjust the width as desired */
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 66.67%; /* 720 divided by 1080, multiplied by 100 */
}

.video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
  