* {
    box-sizing: border-box;
  }

.navbar {
    position: relative;
    background-color: #222831;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.navbar-buttons {
    display: flex;
    align-items: center;
}

.navbar-buttons a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 75px;
}

.navbar-buttons .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all 0.5s ease 0s;
    border-radius: 0px;
}

a:nth-child(1) {
    width: 100px;
}

a:nth-child(2) {
    width: 100px;
}

a:nth-child(3) {
    width: 100px;
}

/* initial state on home button */
.navbar-buttons .start-home,
    a:nth-child(1):hover ~ .animation {
    width: 100px;
    margin-left: 0px;
    background-color: #222831;
}

/* home button */
.navbar-buttons .start-courses,
    a:nth-child(2):hover ~ .animation {
    width: 100px;
    margin-left: 0px;
    background-color: #00adb5;
}

/* courses button */
.navbar-buttons .start-logout,
    a:nth-child(3):hover ~ .animation {
    width: 100px;
    margin-left: 175px;
    background-color: #00adb5;
}

/* logout button */
.navbar-buttons .start-logout,
    a:nth-child(4):hover ~ .animation {
    width: 100px;
    margin-left: 340px;
    background-color: #00adb5;
}

.logo {
    color: #fff;
    margin: 0;
    display: flex;
    width: 83px;
    height: 59px;
    flex-direction: column;
    flex-shrink: 0;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
  }
 