@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500;600;700&display=swap");

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #EEEEEE;
  font-family: Roboto Condensed, sans-serif;
  overflow-y: auto;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  overflow: auto;
}


